# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\project\urts-test\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
